/* This code is explained by Doubt Faculty */

*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}

.circle{
    height: 80px;
    margin: 10%;
    width: 80px;
    background-color: red;
    border-radius: 50%;
    position: relative;
}
.cir{
    height: 0px;
    width: 0px;
    /* background-color: blue; */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all ease 0.5s;
}
.circle:hover .cir{
    height: 80px;
    width: 80px;
    background-color: aqua;
}
.circle i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}