*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    min-height: 100%;
    width: 100%;
    display: flex;
}

nav{
    width: 5%;
    height: 100vmin;
    background-color: #181f2e;    

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.5vmax;
    color: white;
}

.top-nav{
    /* height: 40%; */
    /* border: 1px solid purple; */
}
.top-nav > .img-avatar-box{
    padding: 1.25vmax 0;
    margin-bottom: 2vmax;
    display: flex;
    justify-content: center;
    /* border: 1px solid skyblue; */
}

.top-nav img{
    width: 70%;    
    /* border: 1px solid red; */
}


.top-sub-container{
    display: flex;
    flex-direction: column;
    gap: 0.2vmax;
    /* border: 1px solid red; */
}
.top-sub-container >div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vmax;
    
    cursor: pointer;
    /* border-bottom: 1px solid gray; */
    transition: all 0.25s ease;    
    /* border: 2px solid white; */
    
    position: relative;
}

.cir{
    position: absolute;
    background-color: rgb(0, 193, 193);
    height: 4vmax;
    width: 0;
    left: 0;
    border-left: 0.2vmax solid rgb(5, 99, 99);
    transition: all 0.25s ease-in-out;
} 
.top-sub-container >div:hover .cir{
    width: 100%;
    border: none;
}

.top-sub-container >div > i{
    z-index: 100;
}

/* ------------  LEFT BOTTOM NAV----------------- */

.bottom-nav{
    /* border: 1px solid lawngreen; */
    text-align: center;
    background-color: #2e3443;
    
    display: flex;
    flex-direction: column;
    gap: 0.1vmax;
}


.bottom-nav > div{
    position: relative;
    width: 100%;
    height: 4vmax;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bottom-nav > div > i{
    z-index: 100;
}

.cir2{
    position: absolute;
    width: 0.2vmax;
    height: 100%;
    left: 0;
    
    transition: all 0.25s ease-in-out;
}
#cir-setting{
    background-color: gray;
}
#cir-exit{
    background-color: red;
}

.bottom-nav>div:hover .cir2{
    width: 100%;
}

.bottom-nav div:last-child{
    background-color: rgb(187, 0, 0);
}
/* -----    HERO SECTION : LHS & RHS */

.left-hero{
    /* border: 1px solid red; */
    width: 25%;
    height: 100%;
    background-color: #e2eef7;
    display: flex;
    flex-direction: column;
}

#search-inp{
    /* border: 1px solid gray; */
    height: 12%;
    display: flex;
    align-items: center;
}

#search-inp-box{
    width: 75%;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid green; */
}

#search-inp i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    translate: 0.65vmax 0;
    font-size: 1vmax;
    color: gray;
}
#search-inp input{
    width: 100%;
    height: 2.4vmax;
    font-size: 1vmax;
    /* margin: 1.4vmax auto; */
    padding-left: 2vmax;
    border-radius: 2.4vmax;
    border: none;
}

/* -------  chat container  ---------- */
#chat-container{
    width: 100%;
    height: 88%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #ebf4fb;
}
.chat-box{
    width: 95%;
    height: 5.5vmax;
    display: flex;

    /* border: 1px solid gray; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.21);
    margin: 0 5%;    
}

.active-chat-user{
    background-color: aqua;
    background-color: white;
    /* width: 103%; */
    
}

.chat-content{
    /* border: 1px solid green; */
    width: 90%;
    height: 65%;
    margin: auto;
    
    display: flex;
    font-family: 'baloo 2';
}

.img-box{
    width: 20%;
    height: 100%;
    /* border: 1px solid peru; */
}

.img-box img{
    height: 100%;
    
    border-radius: 50%;
}

.lft-content{
    /* border: 1px solid slateblue; */
    width: 80%;
}

.lft-content div{
    height: 60%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid lawngreen; */
}
.lft-content > div > h2{
    font-size: 1.2vmax;
}
.lft-content > div > span{
    font-size: 1vmax;
    color: darkgray;
}
.lft-content > p{
    height: 40%;
    font-size: 0.9vmax;
    color: rgb(50, 50, 50);
}

/* ----------  RIGHT HERO  ---------  */
#right-hero {
    width: 70%;
    height: 100%;
    /* border: 1px solid green;     */
    background-color: #ffffff;
}

#nav-r-hero{
    width: 100%;
    height: 12%;
    /* border: 1px solid orange;     */
    
    display: flex;
}

#nav-r-hero > .content{
    width: 95%;
    height: 100%;
    margin: auto;    
    /* border: 1px solid magenta; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.335);
    
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 1vmax;
}

.lhs-nav-r-hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.lhs-nav-r-hero > div{
    display: flex;
    align-items: center;
    gap: 0.75vmax;
    color: gray;
}
.dot-active-now{
    width:  0.5vmax;
    height: 0.5vmax;
    display: inline-block;
    
    background-color: lawngreen;
    border-radius: 50%;
    
    animation: blink 1.5s step-end 0s infinite;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.rhs-nav-r-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 7.5vmax;
    
    /* border: 1px solid darkcyan; */
}

.rhs-nav-r-hero > div {
    /* border: 1px solid darkorange; */
    width:  3vmax;
    height: 3vmax;

    background-color: rgb(241, 241, 241);
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4vmax;
    border-radius: 50%;
    cursor: pointer;
    /* color: white; */
}

/* --  MAIN-CONTAINER & CHAT CONTENT MSG -- */
#main-container{
    height: 88%;
    width: 100%;
    /* background-color: tomato; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url(img/chat-bg.jpg);
}

#main-cont-content{
    height: 88%;
    width: 95%;
    /* background-color: blue; */
}
#chatting-container{
    height: 95%;
    width: 100%;
    /* background-color: yellow; */
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 1vmax;
    margin-bottom: 1vmax;
}

.each-chat-box{
    width: 100%;
    display: flex;
    align-items: flex-start;
    
    font-size: 0.9vmax;
    font-family: sans-serif;
    color: rgb(42, 42, 42);
    margin: 1.5vmax auto;
    /* border: 1px solid green; */
}
.each-chat-box > div{
    margin-right: 1.2vmax;
}
.each-chat-box> div > img{
    width: 3.2vmax;
    border-radius: 50%;
    box-shadow: 0px 0px 2px black;
}
.each-chat-box > .msg-txt {
    display: flex;
    flex-direction: column;
    gap: 0.8vmax;
    max-width: 50%;
}
.each-chat-box > .msg-txt > p{
    width: fit-content;
    background-color: rgb(235, 235, 235);
    padding: .6vmax 1vmax;
    
    border-radius: 1.2vmax;
    line-height: 1.5vmax;
}

/* ------   YOOOOOOOOOOOOOOOOOU  ------- */
.you{
    justify-content: right;
}
.you > div:nth-child(1){
    /* visibility: hidden; */
    display: none;
}

.you > .msg-txt{
    align-items: end;
}
.you > .msg-txt > p{
    background-color: #fa4c4c;
    color: white;
}

/* ------ WRITE MSG IN FOOTER INPUT  ---- */
#write-msg-footer {
    height: 12%;
    width: 100%;
    /* border:1px solid green; */
    background-color: white;
    border-top: 1px solid rgba(128, 128, 128, 0.402);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#write-msg-footer-contents{
    height: 70%;
    width: 95%;
    /* background-color: lightblue; */
    /* border:1px solid red; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emoji-box {
    font-size: 1.6vmax;
    padding: 0.5vmax;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(234, 234, 234);
    color: rgb(57, 57, 57);
}
.emoji-box > label {
    cursor: pointer;
}
.send-btn {
    background-color: #fa4c4c;
    color: white;
    width:  3.2vmax;
    height: 3.2vmax;

    display: flex;
    justify-content: center;
    align-items: center;    
    border: none;
    box-shadow: 1px 1px 5px black;
}

.emoji-box-inp {
    width: 80%;
}
.emoji-box-inp > input{
    padding: 0.9vmax 1.2vmax;
    font-size: 1vmax;
    border: none;
    
    border-radius: 2vmax;
    width: 100%;
    background-color: rgb(234, 234, 234);
}

input[type="file"]{
    display: none;
}

.bottom-nav-phoneUI{
    visibility: hidden;
}

