*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

html,body{
height: 100%;
width: 100%;
font-family: 'Roboto', sans-serif;
font-size: 1.2rem;
}

nav{
    display: flex;
    height: 15%;
    width: 100%;
    
    justify-content: space-evenly;
    align-items: center;
    background-color: lightblue;
}

ul{
    display: flex;
    gap: 2rem;
}
ul li{
    list-style: none;
    border-bottom: 1px solid lightblue;
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}
ul li:hover{
    border-bottom: 1px solid black;
}
button{
    height: 2.5rem;
    width: 8rem;
    font-size: 1.2rem;
    border: none;
}