
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1{
    position: sticky;
    /* top: 200px; */
    top: 0;

    background-color: brown;
    color: white;
    /* width: 700px;    
    font-size: 2rem;
    padding: 10px; */
}

.box2{
    position: fixed;
    background-color: wheat;
    color: orange;
    width: 800px;
    font-size: 2rem;
    text-align: center;
}