@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* SECTION 1 - NAVBAR & IAMGE SLIDER  */

#section-1{
    width: 100vw;
    height: 2rem;

}

#nav-1{
    width: 100%;
    height: 4rem;
    color: gray;
    /* border: 1px solid red; */

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    height: 100%;        
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid purple; */
}
.inp-search{
    /* border: 1px solid purple;     */
    position: relative;
}
.inp-search input{
    width: 20rem;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    padding-right: 35px;
    border-radius: 0.3rem;
    border: 1px solid rgba(128, 128, 128, 0.493);
}
.inp-search i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    right: 10px;
    color: orange;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 0.5rem;
    font-size: 0.8rem;    
}

.nav-links li{
    padding: 6px 0;
    padding-right: 4px;
    border-right: 0.5px solid rgba(128, 128, 128, 0.501);
}

/* ------------     NAV-2   --------- */
#nav-2{
    height: 3rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    list-style: none;
    color: #575757;
    background-color: #ffd91c;
    /* border: 1px solid orange red; */
}

#nav-2 li{
    height: 100%;
    display: flex;
    
    padding: 0 0.6rem;    
    align-items: center;    
    /* border: 1px solid red; */
    transition: all 0.1s ease-in;
}

#nav-2 li:hover{
    margin-top: 5px;
    background-color: white;
}
#nav-2 li:last-child{
    background-color: #099be1;
    color: white;
}
#slider-container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid whitesmoke;
}

#slider-container i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 0 5rem;

    font-size: 2rem;
    cursor: pointer;
    color: gray;
    border-radius: 50%;
    background-color: #ffd91c;
    /* border: 1px solid red; */
}

/* --------- CARD MAIN CONTAINER  --------- */
#cards-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid purple; */
    background-color: #eee;
}
#cards-main-container > h1{
    padding: 1.2rem 0;
    font-family: monospace;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(50, 50, 50);
    /* border: 1px solid green; */
}

.cards-collection{
    width: 75vmax;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    /* border: 1px solid blue;     */
}
.card-box{
    width: 20vmax;
    /* height: 30vmax; */
    
    background-color: white;
    /* border: 1px solid blue; */
    transition: all 0.2s ease-in;
}
.card-box img{
    width: 100%;
}

.card-box:hover{
    transform: translateY(-0.2rem);
    -webkit-animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: shadow-drop-br 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-29 0:13:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-br
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-br {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-br {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
        box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
}
/* ------------ animation ends here */

.card-box-content {
    height: 4vmax;
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Source Sans 3", sans-serif;
}
.card-box-content > h1{
    /* font-family: sans-serif; */
    font-weight: 400;
    font-size: 1rem;
}
.card-box-content  p{
    color: rgb(49, 49, 49);
    font-size: 0.9rem;
    font-weight: 300;
}
.card-box-content p{
    
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

.card-footer span{
    color: red;
    text-transform: uppercase;
}
